$base-font : 'Rubik', sans-serif;
$color : #333;
$hedtop_color : #F5FBFF;
$btn-color : #009DFF;
$icon-color: #c7c7c7;
$secend-color : #4BA8FD;
$searvicearea_color : #83C4FF;
$color-fff : #fff;
$p-color : #727272;
$our-dpt-color : #F5FBFF;